.verkefni {
	text-align: right;
}
body {
	margin: 0 auto;
	width: 60em;
	font-family: "Ubuntu";
	background-image: url(myndir/strönd.jpg);

}

h1 {
	margin-top: 30px;
	font-size: 33px;
	justify-content: left;
	color: black;
}
.col-II {
	width: 60em;
	background:rgba(0,0,0,0.8);
	color: orange;
	border: solid;
	border-color: lightblue;
	border-radius: 20px;
	padding: 10px;
	float: left;

}

.info {
	text-align: right;

}

img {
	border-radius: 50%;
	width: 10px,
	height: 100px;
}

aside {
	float: right;
	width: 40%;
}

article {
	width: 60%;
	float: left;
	line-height: 200%;
}



footer {
	text-align: center;
	color: white;
}

figcaption {
	text-align: center;
}
.midjutexti {
	text-align: center;
	padding-bottom: .5em;
	margin: auto;
	width: 50em;
}

blockquote {
	background-color: rgba(255,255,255,.8);
}


a:link {
	color: blue;
}

a:visited {
	color: purple;
}

a:hover {
	color: red;
}

a:active {
	color: white;
}

ul { 
	list-style-type: none; 
}

.header {
	display: inline-block;
	float: left;
	width: 36%;
	background-color: #009933;
	padding-left: 10px;
	border-radius: 10px;
	margin-top: 49px;
	font-size: 1.2em;
	margin-left: 30px;
}

